%h1
  Поиск SomeCar

%div.row
  %div.span3
    = render 'shared/search_filters'

  %div.span6
    %div.row
      %div.span6
        уцйкйцукйцук
        =@ad_count
    %div.row
      %div.span6
        йцукйцукйцук
        =@ad_count
    %div.row
      %div.span6
        йцукйцукуйц
        =@ad_count
    %div.row
      %div.span6
        =@ad_count
