<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Кто-то выслал Вам ссылку на изменение Вашего пароля. Вы можете сделать это по ссылке ниже.</p>

<p><%= link_to 'Изменить мой пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Если это сделали не Вы, пожалуйста, проигнорируйте это письмо.</p>
<p>Ваш пароль не будет изменен, пока Вы не перейдете по ссылке выше и не создадите новый.</p>
