<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Ваш аккаунт был заблокирован по причине превышения неудачных попыток входа.</p>

<p>Перейдите по ссылке ниже для разблокировки:</p>

<p><%= link_to 'Разблокировать мой аккаунт', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
